{{ if .Params.notes }}
	<p>Notes: {{ .Params.notes }}</p>
{{ end }}
{{ if .Params.site }}
<p><a href="{{ .Params.site }}">{{ .Params.site }}</a></p>
{{ end }}
<p>Formats:</p>
<ul>
{{ range $visualise := .Params.visualises }}
	<li>
		<a href="/formats/{{ .format_slug }}/">{{ .format }}</a>
		{{ if .docs }}
			[<a href="{{ .docs }}">Docs</a>]
		{{ end }}
	</li>
{{ end }}
{{ if not .Params.visualises }}
	<li>Unknown</li>
{{ end }}
</ul>
{{ .Content }}
<p><object type="image/svg+xml" data="/uis/{{ .Params.slug }}.dot.svg"></object></p>
