{{ if .Params.notes }}
	<p>Notes: {{ .Params.notes }}</p>
{{ end }}
{{ if .Params.site }}
<p><a href="{{ .Params.site }}">{{ .Params.site }}</a></p>
{{ end }}
<p>Formats:</p>
<ul>
{{ range $visualise := .Params.visualises }}
	<li>
		<a href="/formats/{{ .format_slug }}/">{{ .format }}</a>
		{{ if .docs }}
			[<a href="{{ .docs }}">Docs</a>]
		{{ end }}
	</li>
{{ end }}
{{ if not .Params.visualises }}
	<li>Unknown</li>
{{ end }}
</ul>
{{ .Content }}

<ul class="nav nav-tabs" id="convertToTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-target="#direct" type="button" role="tab" aria-controls="profile" aria-selected="false" data-toggle="list">Direct</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-target="#transitive" type="button" role="tab" aria-controls="home" aria-selected="true" data-toggle="list">Including Transitive Data Conversions (large graph)</a>
  </li>
</ul>
<div class="tab-content" id="convertToTabContent">
  <div class="tab-pane fade" id="direct" role="tabpanel" aria-labelledby="profile-tab">
    <object class="graphviz" type="image/svg+xml" data="/uis/{{ .Params.slug }}.dot.svg"></object>
    <br><a href="/uis/{{ .Params.slug }}.dot.svg">[View fullscreen]</a>
  </div>
  <div class="tab-pane fade show active" id="transitive" role="tabpanel" aria-labelledby="home-tab">
    <object class="graphviz" type="image/svg+xml" data="/uis/{{ .Params.slug }}.transitive.dot.svg"></object>
    <br><a href="/uis/{{ .Params.slug }}.transitive.dot.svg">[View fullscreen]</a>
  </div>
</div>
