---
title: Formats
url: /formats/
description: Profiler's output file formats.
---
{% for format in formats %}
 <h2 id="{{ format.Index }}">{{ format.Index }} {{ format.Star}}</h2>
  <p>Output By:</p>
  <ul>
  {% for output in outputs_by_format[format.Index] %}
    <li><a href="/profilers/#{{ output.Profiler }}">{{ output.Profiler }}</a>
      {% if output.Docs %}
       [<a href="{{ output.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
  <p>Visualise With:</p>
  <ul>
  {% for visualise in visualises_by_format[format.Index] %}
    <li><a href="/uis/{{ uis_by_name[visualise.UI].Slug }}/">{{ visualise.UI }}</a>
      {% if visualise.Docs %}
       [<a href="{{ visualise.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
  <p>Converts From:</p>
  <ul>
  {% for converter in converters_by_to[format.Index] %}
    <li><a href="/formats/#{{ converter.From }}">{{ converter.From }}</a>
      via
      {% if converter.Docs %}
       <a href="{{ converter.Docs }}">{{ converter.Converter }}</a>
      {% else %}
        {{ converter.Converter }}
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
  <p>Converts To:</p>
  <ul>
  {% for converter in converters_by_from[format.Index] %}
    <li><a href="/formats/#{{ converter.To }}">{{ converter.To }}</a>
      via
      {% if converter.Docs %}
       <a href="{{ converter.Docs }}">{{ converter.Converter }}</a>
      {% else %}
        {{ converter.Converter }}
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
{% endfor %}
