---
title: {{ format.Index }} {{ format.Star }}
---
<p>🩺 Profilers that directly output this format:</p>
<ul>
{% for output in outputs_by_format[format.Index] %}
  <li><a href="/profilers/{{ profilers_by_name[output.Profiler].Slug }}/">{{ output.Profiler }}</a>
    {% if output.Docs %}
      [<a href="{{ output.Docs }}">Docs</a>]
    {% endif %}
  </li>
{% else %}
  <li>Unknown</li>
{% endfor %}
</ul>
<p>📊 Analysis UIs that can read this format:</p>
<ul>
{% for visualise in visualises_by_format[format.Index] %}
  <li><a href="/uis/{{ uis_by_name[visualise.UI].Slug }}/">{{ visualise.UI }}</a>
    {% if visualise.Docs %}
      [<a href="{{ visualise.Docs }}">Docs</a>]
    {% endif %}
  </li>
{% else %}
  <li>Unknown</li>
{% endfor %}
</ul>
<p>⬅️ This format is convertable from:</p>
<ul>
{% for converter in converters_by_to[format.Index] %}
  <li>
    <a href="/formats/{{ formats_by_name[converter.From].Slug }}/">{{ converter.From }}</a>,
    via
    <a href="/converters/{{ converter.Slug }}/">{{ converter.Converter }}</a>
    {% if converter.Docs %}
      [<a href="{{ converter.Docs }}">Docs</a>]
    {% endif %}
  </li>
{% else %}
  <li>Unknown</li>
{% endfor %}
</ul>
<p>➡️ This format is convertable to:</p>
<ul>
{% for converter in converters_by_from[format.Index] %}
  <li>
    <a href="/formats/{{ formats_by_name[converter.To].Slug }}/">{{ converter.To }}</a>,
    via
    <a href="/converters/{{ converter.Slug }}/">{{ converter.Converter }}</a>
    {% if converter.Docs %}
      [<a href="{{ converter.Docs }}">Docs</a>]
    {% endif %}
  </li>
{% else %}
  <li>Unknown</li>
{% endfor %}
</ul>
<p><object type="image/svg+xml" data="/formats/{{ format.Slug }}.dot.svg"></object></p>
