<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Profilerpedia</title>
</head>

<body>

<h1>Formats</h1>
{% for format in formats %}
 <h2 id="format:{{ format.Index }}">{{ format.Index }} {{ format.Star}}</h2>
  <p>Output By:</p>
  <ul>
  {% for output in outputs_by_format[format.Index] %}
    <li><a href="#profiler:{{ output.Profiler }}">{{ output.Profiler }}</a>
      {% if output.Docs %}
       [<a href="{{ output.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
  <p>Visualise With:</p>
  <ul>
  {% for visualise in visualises_by_format[format.Index] %}
    <li><a href="#ui:{{ visualise.UI }}">{{ visualise.UI }}</a>
      {% if visualise.Docs %}
       [<a href="{{ visualise.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
  <p>Converts From:</p>
  <ul>
  {% for converter in converters_by_to[format.Index] %}
    <li><a href="#format:{{ converter.From }}">{{ converter.From }}</a>
      via
      {% if converter.Docs %}
       <a href="{{ converter.Docs }}">{{ converter.Converter }}</a>
      {% else %}
        {{ converter.Converter }}
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
  <p>Converts To:</p>
  <ul>
  {% for converter in converters_by_from[format.Index] %}
    <li><a href="#format:{{ converter.To }}">{{ converter.To }}</a>
      via
      {% if converter.Docs %}
       <a href="{{ converter.Docs }}">{{ converter.Converter }}</a>
      {% else %}
        {{ converter.Converter }}
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
{% endfor %}

<h1>Profilers</h1>
{% for profiler in profilers %}
  <h2 id="profiler:{{ profiler.Index }}">{{ profiler.Index }} {{ profiler.Star }}</h2>
  {% if profiler.Platform %}
    Platform: {{ profiler.Platform }}
  {% endif %}
  {% if profiler.Notes %}
    Notes: {{ profiler.Notes }}
  {% endif %}
  <p>Output Formats:</p>
  <ul>
  {% for output in outputs_by_profiler[profiler.Index] %}
    <li><a href="#format:{{ output.Format }}">{{ output.Format }}</a>
      {% if output.Docs %}
       [<a href="{{ output.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
{% endfor %}

<h1>UIs</h1>
{% for ui in uis %}
  <h2 id="ui:{{ ui.Index }}">{{ ui.Index }}</h2>
  {% if ui.Notes %}
    <p>Notes: {{ ui.Notes }}</p>
  {% endif %}
  {% if ui.Site %}
    <p>Site: <a href="{{ ui.Site }}">{{ ui.Site }}</a></p>
  {% endif %}
  {% if ui.Platform %}
    <p>Platform: {{ ui.Platform }}</p>
  {% endif %}
  <p>Formats:</p>
  <ul>
  {% for visualise in visualises_by_ui[ui.Index] %}
    <li>
      <a href="#format:{{ visualise.Format }}">{{ visualise.Format }}</a>
      {% if visualise.Docs %}
       [<a href="{{ visualise.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
{% endfor %}

</body>
</html>
