---
title: {{ profiler.Index }} {{ profiler.Star }}
---
{% if profiler.Docs %}
  <p><a href="{{ profiler.Docs }}">Docs</a></p>
{% endif %}
{% if profiler.Platform %}
  <p>Target Platform: {{ profiler.Platform }}</p>
{% endif %}
{% if profiler.Notes %}
  <p>Notes: {{ profiler.Notes }}</p>
{% endif %}
<p>Output Formats:</p>
<ul>
{% for output in outputs_by_profiler[profiler.Index] %}
  <li><a href="/formats/{{ formats_by_name[output.Format].Slug }}/">{{ output.Format }}</a>
    {% if output.Docs %}
      [<a href="{{ output.Docs }}">Docs</a>]
    {% endif %}
  </li>
{% else %}
  <li>Unknown</li>
{% endfor %}
</ul>
<p><object type="image/svg+xml" data="/profilers/{{ profiler.Slug }}.dot.svg"></object></p>
