---
title: UIs
url: /uis/
description: Profiler user interfaces, or visualisations. Often UIs can read in multiple data formats. Often UIs can also profile software directly, but for this table, what's important is that the profiler can visualise profile data.
---
{% for ui in uis %}
  <h2 id="{{ ui.Index }}">{{ ui.Index }} {{ ui.Star}}</h2>
  {% if ui.Notes %}
    <p>Notes: {{ ui.Notes }}</p>
  {% endif %}
  {% if ui.Site %}
    <p><a href="{{ ui.Site }}">{{ ui.Site }}</a></p>
  {% endif %}
  {% if ui.Platform %}
    <p>Platform: {{ ui.Platform }}</p>
  {% endif %}
  <p>Formats:</p>
  <ul>
  {% for visualise in visualises_by_ui[ui.Index] %}
    <li>
      <a href="/formats/#{{ visualise.Format }}">{{ visualise.Format }}</a>
      {% if visualise.Docs %}
       [<a href="{{ visualise.Docs }}">Docs</a>]
      {% endif %}
    </li>
  {% else %}
    <li>Unknown</li>
  {% endfor %}
  </ul>
{% endfor %}
