{{ if .Params.docs }}
	<p><a href="{{.Params.docs}}">Docs</a></p>
{{ end }}
{{ if .Params.notes }}
<p>Notes: {{ .Params.notes }}</p>
{{ end }}
<p>Output Formats:</p>
<ul>
{{ range .Params.formats }}
	<li>
		<a href="/formats/{{ .slug }}/">{{ .format }}</a>
		{{ if .docs }}
		[<a href="{{ .docs }}">Docs</a>]
		{{ end }}
	</li>
{{ end }}
{{ if not .Params.formats }}
	<li>Unknown</li>
{{ end }}
</ul>
{{ .Content }}
<p><object class="graphviz" type="image/svg+xml" data="/profilers/{{ .Params.slug }}.dot.svg"></object></p>
