{{ with .Params.project_site }}
  <p><a href="{{.}}">Project Site</a></p>
{{ end }}
{{ with .Params.schema }}
  <p><a href="{{.}}">Schema</a></p>
{{ end }}
{{ with .Params.file_format }}
  <p>File Format: {{ . }}</p>
{{ end }}
{{ with .Params.timestamping }}
  <p>Timestamping: {{ . }}</p>
{{ end }}
{{ with .Params.notes }}
  <p>Notes: {{.}}</p>
{{ end }}
<h2 id="profilers">Profilers 🔎</h2>
<p>{{ len .Params.outputs_ }} Profilers directly output this format:</p>
<ul style="list-style-type: '🔎 ';">
{{ range $output := .Params.outputs_ }}
  <li><a href="/profilers/{{ .profiler_slug }}/">{{ .profiler }}</a>
    {{ with .docs }}
      [<a href="{{ . }}">Docs</a>]
    {{ end }}
  </li>
{{ end }}
{{ if not .Params.outputs_ }}
  <li>Unknown</li>
{{ end }}
</ul>
<h2 id="uis">Analysis UIs 📊</h2>
<p>{{ len .Params.visualises }} Analysis UIs can read this format:</p>
<ul style="list-style-type: '📊 ';">
{{ range $visualise := .Params.visualises }}
  <li><a href="/uis/{{ .ui_slug }}/">{{ .ui }}</a>
    {{ with .docs }}
      [<a href="{{ . }}">Docs</a>]
    {{ end }}
  </li>
{{ end }}
{{ if not .Params.visualises }}
  <li>Unknown</li>
{{ end }}
</ul>
<h2 id="converters">Converters</h2>
<p>This format is directly convertable from {{ len .Params.convertable_from }} formats:</p>
<ul style="list-style-type: '⬅ ';">
{{ range $converter := .Params.convertable_from }}
  <li>
    <a href="/formats/{{ .format_slug }}/">{{ .format }}</a>,
    via
    <a href="/converters/{{ .converter_slug }}/">{{ .converter }}</a>
    {{ with .docs }}
      [<a href="{{ . }}">Docs</a>]
    {{ end }}
  </li>
{{ end }}
{{ if not .Params.convertable_from }}
  <li>Unknown</li>
{{ end }}
</ul>
<p> This format is directly convertable to {{ len .Params.convertable_to }} formats:</p>
<ul style="list-style-type: '➡ ';">
{{ range $converter := .Params.convertable_to }}
  <li>
    <a href="/formats/{{ .format_slug }}/">{{ .format }}</a>,
    via
    <a href="/converters/{{ .converter_slug }}/">{{ .converter }}</a>
    {{ with .docs }}
      [<a href="{{ . }}">Docs</a>]
    {{ end }}
  </li>
{{ end }}
{{ if not .Params.convertable_to }}
  <li>Unknown</li>
{{ end }}
</ul>
<h2>Profiler & Analysis UI Graph</h2>
<p><a href="/formats/{{ .Params.slug }}.dot.svg">[View graph fullscreen]</a></p>
<p><object type="image/svg+xml" data="/formats/{{ .Params.slug }}.dot.svg"></object></p>
{{ if len .Params.convertable_from }}
<h2>Converts From Graph</h2>
<p><a href="/formats/{{ .Params.slug }}.backwards.dot.svg">[View graph fullscreen]</a></p>
<p><object type="image/svg+xml" data="/formats/{{ .Params.slug }}.backwards.dot.svg"></object></p>
{{ end }}
{{ if len .Params.convertable_to }}
<h2>Converts To Graph</h2>
<p><a href="/formats/{{ .Params.slug }}.forwards.dot.svg">[View graph fullscreen]</a></p>
<p><object type="image/svg+xml" data="/formats/{{ .Params.slug }}.forwards.dot.svg"></object></p>
{{ end }}
