{{ define "main" }}
<div class="td-content">
	<h1>{{ .Title }}</h1>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<header class="article-meta">
		{{ $context := . }}
		{{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
			{{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
				{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
			{{ end }}
		{{ else }}
			{{ range $taxo, $taxo_map := .Site.Taxonomies }}
				{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
			{{ end }}
		{{ end }}
		{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
			{{ partial "reading-time.html" . }}
		{{ end }}
	</header>
	{{ .Content }}
	<h2>Statistics</h2>
	<p>Profilerpedia maps and connects:</p>
	<ul>
		<li><a href="/profilers">{{ len (.Site.GetPage "/profilers").Pages }} Profilers</a></li>
		<li><a href="/formats">{{ len (.Site.GetPage "/formats").Pages }} Data Formats</a></li>
		<li><a href="/converters">{{ len (.Site.GetPage "/converters").Pages }} Converters</a></li>
		<li><a href="/uis">{{ len (.Site.GetPage "/uis").Pages }} Analysis UIs</a></li>
	</ul>
	<h2>Starred Profilers</h2>
	{{ with .Site.GetPage  "/profilers" }}
		<ul>
	  {{ range where .Pages ".Params.star" "!=" "" }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}
	<h2>Starred Formats</h2>
	{{ with .Site.GetPage  "/formats" }}
		<ul>
	  {{ range where .Pages ".Params.star" "!=" "" }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}
	<h2>Starred Analysis UIs</h2>
	{{ with .Site.GetPage  "/uis" }}
		<ul>
	  {{ range where .Pages ".Params.star" "!=" "" }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
	{{ end }}

        {{ partial "section-index.html" . }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ if (.Site.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>
{{ end }}
