.current text {
  font-weight: bold;
}

text {
  font-family: open sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol !important;
  font-weight: 400;
  font-size: 12px;
}

a text {
  fill: #3176d9;
}
